<launch>

  <!-- launch voice disabler-->
    <include file="$(find qbo_audio_control)/launch/audio_control_listener.launch" />


  <!-- launch qbo_listen-->
  <node name="qbo_listen" pkg="qbo_listen" type="neo_listen.py" output="screen">
    <param name="hmm" value="$(find qbo_listen)/config/fr/fr_model/lium_french_f0"/>
    <param name="lm" value="$(find qbo_listen)/config/fr/brain/brain.lm"/>
    <param name="dic" value="$(find qbo_listen)/config/fr/brain/brain.dic"/>
  </node>

</launch>
