<launch>

    <master auto="start" />
    <node pkg="joy" name="joy_node" type="joy_node"/>
    <node pkg="qbo_joy_control" name="qbo_joy" type="joy_ctrl.py">
        <rosparam file="$(find qbo_joy_control)/params.yaml" command="load" />
    </node>
<!--    <node pkg="qbo_brain"  name="qbo_brain"      type="qbo_brain.py" output="screen" /> -->

</launch>

