<launch>

  <!-- launch qbo_listen-->
  <node name="qbo_listen" pkg="qbo_listen" type="qbo_listen_new.py" output="screen">
    <param name="hmm" value="$(find qbo_listen)/config/fr/fr_model/fr_ptm_5.2"/>
    <param name="lm" value="$(find qbo_listen)/config/fr/fr_model/fr.lm.bin"/>
    <param name="dic" value="$(find qbo_listen)/config/fr/fr_model/fr.dict"/>
  </node>

</launch>

